.header {
  position: fixed;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  z-index: 999;
  .header__left {
    display: flex;
    margin-top: 10px;
    .logo__container {
      height: 34px;
      margin-top: -8px;
    }
    .search_wrapper {
      @include displayCenter(center, center);
      border-radius: 5px;
      height: 36px;
      margin-top: 5px;
      background-color: #edf3f8;
      padding: 0px 30px;
      .search__input {
        border: none;
        outline: none;
        background: transparent;
        margin-left: 5px;
      }
    }
  }
  .header__right {
    display: flex;
    .header_avatar {
      cursor: pointer;
      .avatar_text {
        color: gray;
        margin-right: 30px;
      }
    }
    .header__premium {
      display: flex;
    }
    .premium {
      text-align: center;
      color: #74582d;
      font-size: 14px;
    }
    button {
      width: 100px;
      height: 35px;
      font-size: large;
      color: #fff;
      background-color: #0074b1;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: $md) {
  .header {
    .header__left {
      .logo__container {
        height: 34px;
        margin-top: -18px;
      }
      .search_wrapper {
        display: none;
      }
    }
    .header__right {
      .header__premium {
        display: none;
      }
      button {
        display: none;
      }
    }
  }
}
