.app__body {
  display: flex;
  padding: 30px 180px;
  gap: 30px;
}

@media screen and (max-width: $md) {
  .app__body {
    padding: 20px;
  }
}

@media screen and (max-width: $sm) {
  .app__body {
    padding: 10px;
  }
}
